<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <system.diagnostics configSource="tracing.config" />

  <microsoft.identityModel>
    <service>
      <!-- sample identity transformation -->
      <!--<claimsAuthenticationManager type="Thinktecture.Samples.ClaimsTransformer" />-->

      <!-- sample authorization manager -->
      <!--<claimsAuthorizationManager type="Thinktecture.Samples.AuthorizationManager" />-->

      <securityTokenHandlers>
        <!-- provider custom username/password validation logic -->
        <remove type="Microsoft.IdentityModel.Tokens.WindowsUserNameSecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add type="Thinktecture.Samples.UserNameSecurityTokenHandler, SecurityHelpers" />

        <!-- sample x509 certificate handler with custom validation -->
        <!--<remove type="Microsoft.IdentityModel.Tokens.X509SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add type="Microsoft.IdentityModel.Tokens.X509SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <x509SecurityTokenHandlerRequirement certificateValidationMode="Custom"
                                               certificateValidator="Thinktecture.Samples.CustomX509CertificateValidator" />
        </add>-->
      </securityTokenHandlers>

      <!-- trust relationships -->
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <!-- trust with specific certificate authority -->
          <add thumbprint="e00d366a6a22bd8415cb854448ab784848be1c71" name="LeastPrivilege CA" />

          <!-- trust with ADFS tokens -->
          <add thumbprint="d1c5b12597d03694651ce264fe48060135f7bddb" name="ADFS" />

          <!-- trust with ACS tokens -->
          <add thumbprint="2077FEEEE28E2A887CF39B4C508D851B6A8534FF" name="ACS" />
        </trustedIssuers>
      </issuerNameRegistry>

      <!-- decryption of incoming issued tokens -->
      <serviceCertificate>
        <certificateReference findValue="CN=Service" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" />
      </serviceCertificate>

      <certificateValidation certificateValidationMode="None" />

      <audienceUris>
        <add value="https://renovator/webservicesecurity/" />
      </audienceUris>
    </service>
  </microsoft.identityModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.4.0" newVersion="5.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Json" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
